@import url('./reset.css');
@import url('./variables.css');

html,body{
    font-family: var(--txt-family);
    font-size:62.5%;
    background:#f6f8fc;
    -webkit-text-size-adjust:none;  /* 화면 회전시 폰트 사이즈 고정 */    
}
body{font-size:1.4rem;}

.mt-16{margin-top:1.6rem;}
.pt-16{padding-top:1.6rem;}

.btn{outline:0;border:none;background-color:white;font-family:var(--txt-family);font-size:1.4rem;color:var(--txt_color);cursor:pointer;}
.btn_large{width:100%;height:40px;padding:0 1.0rem;background:#bada55;border-radius:8px;color:#ffffff;}

input{font-family:var(--txt-family);font-size:1.4rem;color:var(--txt_color);-webkit-appearance:none; /* form 요소의 디바이스 기반 스타일 초기화 */ -webkit-border-radius:0;}
input:focus{outline:0;}

input.custom_txt{width:100%;height:40px;line-height:40px;padding:0 10px;border:1px solid #ebebeb;background:#f6f6f6;border-radius:8px;}
input.custom_txt:focus{border-color:#cbcbcb;}
input.custom_txt::placeholder{color:#bbbbbb;}

select.custom_select{width:100%;height:40px;min-width:6rem;line-height:40px;padding:0 10px;border:1px solid #ebebeb;background:#f6f6f6;border-radius:8px;font-family:var(--txt-family);font-size:1.4rem;color:var(--txt_color);}
select.custom_select:focus{border-color:#cbcbcb;outline:0;}
select.custom_select::placeholder{color:#bbbbbb;}

input[type="checkbox"].custom_toggle {position: relative;    width: 40px;    height: 20px;    -webkit-appearance: none;    background: #c6c6c6;    outline: none;    border-radius: 20px;transition: 0.4s ease;}
input[type="checkbox"].custom_toggle:checked {  background:#bada55;}
input[type="checkbox"].custom_toggle:before {content: '';  position: absolute;  width: 20px;  height: 20px;  border-radius: 20px;  top: 0;  left: 0;  background: #ffffff;  transform: scale(1.1);  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);  transition: .5s;}
input[type="checkbox"].custom_toggle:checked:before {left: 20px;}

input[type="checkbox"].custom_checkbox {position: relative;width: 20px;height: 20px;-webkit-appearance: none;background: #ffffff;outline: none;border:1px solid #ebebeb;border-radius: 4px;margin-right:1rem;}
input[type="checkbox"].custom_checkbox:checked {border-color:#cbcbcb;}
input[type="checkbox"].custom_checkbox:before {content: '\e876';display:none;font-family:'Material Symbols Outlined';position: absolute;top:50%;left: 50%;transform:translate(-50%,-50%);}
input[type="checkbox"].custom_checkbox:checked:before {display:block;}

label.custom_label{display:inline-block;font-size:1.2rem;color:#666666;padding-bottom:1rem;}
label.custom_label.required::after{content:'*';color:tomato;}

/* layout */
.container{width:100%;margin:0 auto;background:white;}
.container.preloading{height:100vh;background:#f6f8fc url("https://images.unsplash.com/photo-1696935302123-372d54ab941e?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") no-repeat center center / cover;}
.container.signin{height:100vh;}
.container.signup{position:relative;height:100vh;}
header{position:relative;display:flex;justify-content:space-between;align-items:center;height:4rem;}
header h1{position:absolute;left:50%;top:50%;transform:translate(-50%, -50%);font-weight:500;font-size:2rem;}

/* signin */
.signin-inner{padding:0 1.6rem;}

/* signup */
.signup-inner{height:calc(100vh - 9.6rem);overflow-y:auto;padding:0 1.6rem 1.6rem;}/* 40+72-16 */

@media (min-width: 768px) {
	.container{max-width:500px;}
}